<h3>
    {{ title }}
</h3>
<hr />
<form role="form" style="max-width: 500px;">
    <strong class="error">{{ error }}</strong>
    <div class="form-group">
        <label for="description">
            Oppgave
        </label>
        <input type="text" class="form-control" id="description" ng-model="description" />
    </div>
    <div class="form-group checkbox">
        <label>
            <input type="checkbox" ng-model="completed" />Utført
        </label>
    </div>
    <a href="#/list" class="btn btn-default">Avbryt</a>
    <button type="submit" class="btn btn-success" ng-click="save()">
        Lagre
    </button>
</form>